[submodule "100L_2nd-semester/cos_112_web_technologies/100L_2nd-semester/cos_112_web_technologies/Shopsy-miva"]
	path = 100L_2nd-semester/cos_112_web_technologies/100L_2nd-semester/cos_112_web_technologies/Shopsy-miva
	url = https://github.com/udemezue01/Shopsy-miva.git
